 Import all necessary libraries.

In [ ]:
import numpy as np
import seaborn as sb
import matplotlib as mb
import matplotlib.pyplot as plt
import plotly as pl
import pandas as pd
import sklearn as sk
from sklearn.preprocessing import FunctionTransformer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import feature_engine as fe

Download the dataset from Kaggle and add the dataset to a folder within the project. Then find the dataset path to read from.

In [5]:
bc = pd.read_csv("../assets/bank-churners.csv")
bc

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

Relay a sample of the dataset using a percentage of it, and a fixed random state for reproducibility, for ease of access (more user friendly view).

In [ ]:
bc.sample(frac=0.025, random_state=5)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
1646,716870583,Existing Customer,36,F,3,Unknown,Married,Less than $40K,Blue,36,...,2786.0,1628,1158.0,1.314,2853,55,0.667,0.584,0.000385,0.999610
7880,708307533,Existing Customer,42,M,2,Uneducated,Married,$60K - $80K,Blue,30,...,3086.0,0,3086.0,0.808,4129,81,0.884,0.000,0.000197,0.999800
7586,713381433,Attrited Customer,38,F,1,High School,Married,Less than $40K,Blue,28,...,4196.0,731,3465.0,0.485,1868,30,0.200,0.174,0.996390,0.003609
9646,710667708,Existing Customer,47,M,2,Uneducated,Single,$60K - $80K,Blue,36,...,12510.0,1871,10639.0,0.748,14018,128,0.778,0.150,0.000185,0.999820
7165,708108333,Attrited Customer,47,F,3,Graduate,Married,Unknown,Blue,36,...,5590.0,0,5590.0,0.010,1507,32,0.000,0.000,0.991200,0.008800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3950,806947308,Attrited Customer,40,M,4,Post-Graduate,Married,$60K - $80K,Blue,35,...,20178.0,1553,18625.0,0.324,1735,44,0.375,0.077,0.997790,0.002211
9364,818239983,Existing Customer,53,M,2,Unknown,Divorced,$80K - $120K,Blue,48,...,15594.0,1590,14004.0,0.679,13016,118,0.616,0.102,0.000061,0.999940
5158,716256483,Existing Customer,50,F,2,Graduate,Single,Unknown,Blue,36,...,2611.0,1824,787.0,0.711,4232,80,0.633,0.699,0.000327,0.999670
3856,794682483,Existing Customer,43,F,3,Post-Graduate,Unknown,Less than $40K,Blue,23,...,4284.0,1094,3190.0,0.630,3095,64,0.524,0.255,0.000369,0.999630
2553,720076458,Existing Customer,57,M,2,Uneducated,Married,$80K - $120K,Blue,52,...,10974.0,0,10974.0,0.591,1327,26,1.000,0.000,0.000336,0.999660

Return minimum values to observe.

In [ ]:
bc.min()

CLIENTNUM                                                                                                                                     708082083
Attrition_Flag                                                                                                                        Attrited Customer
Customer_Age                                                                                                                                         26
Gender                                                                                                                                                F
Dependent_count                                                                                                                                       0
Education_Level                                                                                                                                 College
Marital_Status                                                                                                                                 Divorced
Income_Category                                                                                                                                 $120K +
Card_Category                                                                                                                                      Blue
Months_on_book                                                                                                                                       13
Total_Relationship_Count                                                                                                                              1
Months_Inactive_12_mon                                                                                                                                0
Contacts_Count_12_mon                                                                                                                                 0
Credit_Limit                                                                                                                                     1438.3
Total_Revolving_Bal                                                                                                                                   0
Avg_Open_To_Buy                                                                                                                                     3.0
Total_Amt_Chng_Q4_Q1                                                                                                                                0.0
Total_Trans_Amt                                                                                                                                     510
Total_Trans_Ct                                                                                                                                       10
Total_Ct_Chng_Q4_Q1                                                                                                                                 0.0
Avg_Utilization_Ratio                                                                                                                               0.0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1             0.000008
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2              0.00042
dtype: object

Return minimum values for selected columns for better clarity.

In [ ]:
bc[["Customer_Age", "Dependent_count", "Months_on_book", "Total_Relationship_Count", "Months_Inactive_12_mon", "Contacts_Count_12_mon", "Credit_Limit", "Total_Revolving_Bal", "Avg_Open_To_Buy", "Total_Amt_Chng_Q4_Q1", "Total_Trans_Amt", "Total_Trans_Ct", "Total_Ct_Chng_Q4_Q1", "Avg_Utilization_Ratio", "Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1", "Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2"]].min()

Return maximum values to to observe.

In [ ]:
bc.max()

CLIENTNUM                                                                                                                                     828343083
Attrition_Flag                                                                                                                        Existing Customer
Customer_Age                                                                                                                                         73
Gender                                                                                                                                                M
Dependent_count                                                                                                                                       5
Education_Level                                                                                                                                 Unknown
Marital_Status                                                                                                                                  Unknown
Income_Category                                                                                                                                 Unknown
Card_Category                                                                                                                                    Silver
Months_on_book                                                                                                                                       56
Total_Relationship_Count                                                                                                                              6
Months_Inactive_12_mon                                                                                                                                6
Contacts_Count_12_mon                                                                                                                                 6
Credit_Limit                                                                                                                                    34516.0
Total_Revolving_Bal                                                                                                                                2517
Avg_Open_To_Buy                                                                                                                                 34516.0
Total_Amt_Chng_Q4_Q1                                                                                                                              3.397
Total_Trans_Amt                                                                                                                                   18484
Total_Trans_Ct                                                                                                                                      139
Total_Ct_Chng_Q4_Q1                                                                                                                               3.714
Avg_Utilization_Ratio                                                                                                                             0.999
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1              0.99958
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2              0.99999
dtype: object

Return maximum values for selected columns for better clarity

In [ ]:
bc[["Customer_Age", "Dependent_count", "Months_on_book", "Total_Relationship_Count", "Months_Inactive_12_mon", "Contacts_Count_12_mon", "Credit_Limit", "Total_Revolving_Bal", "Avg_Open_To_Buy", "Total_Amt_Chng_Q4_Q1", "Total_Trans_Amt", "Total_Trans_Ct", "Total_Ct_Chng_Q4_Q1", "Avg_Utilization_Ratio", "Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1", "Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2"]].max()

Customer_Age                                                                                                                             73.00000
Dependent_count                                                                                                                           5.00000
Dependent_count                                                                                                                           5.00000
Months_on_book                                                                                                                           56.00000
Total_Relationship_Count                                                                                                                  6.00000
Months_Inactive_12_mon                                                                                                                    6.00000
Contacts_Count_12_mon                                                                                                                     6.00000
Credit_Limit                                                                                                                          34516.00000
Total_Revolving_Bal                                                                                                                    2517.00000
Avg_Open_To_Buy                                                                                                                       34516.00000
Total_Amt_Chng_Q4_Q1                                                                                                                      3.39700
Total_Trans_Amt                                                                                                                       18484.00000
Total_Trans_Ct                                                                                                                          139.00000
Total_Ct_Chng_Q4_Q1                                                                                                                       3.71400
Avg_Utilization_Ratio                                                                                                                     0.99900
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1        0.99958
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2        0.99999
dtype: float64

Check for duplicated rows and add the returned results.

In [7]:
bc.duplicated().sum()

np.int64(0)

Check for missing cells and add the returned results.

In [ ]:
bc.isnull().sum()

CLIENTNUM                                                                                                                             0
Attrition_Flag                                                                                                                        0
Customer_Age                                                                                                                          0
Gender                                                                                                                                0
Dependent_count                                                                                                                       0
Education_Level                                                                                                                       0
Marital_Status                                                                                                                        0
Income_Category                                                                                                                       0
Card_Category                                                                                                                         0
Months_on_book                                                                                                                        0
Total_Relationship_Count                                                                                                              0
Months_Inactive_12_mon                                                                                                                0
Contacts_Count_12_mon                                                                                                                 0
Credit_Limit                                                                                                                          0
Total_Revolving_Bal                                                                                                                   0
Avg_Open_To_Buy                                                                                                                       0
Total_Amt_Chng_Q4_Q1                                                                                                                  0
Total_Trans_Amt                                                                                                                       0
Total_Trans_Ct                                                                                                                        0
Total_Ct_Chng_Q4_Q1                                                                                                                   0
Avg_Utilization_Ratio                                                                                                                 0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1    0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2    0
dtype: int64